@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.navbar-custom,
.page-bg {
  background-image: linear-gradient(to right, #252525, #0b0a0a);
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:hover {
  font-family: ar one sans;
  color: #c0c1ff !important;
  font-size: 25px;
  font-weight: bolder;
}

.navbar-custom .nav-link {
  font-family: ar one sans;
  color: #f2f2f2;
  font-size: 18px;
  margin-right: 25px;
}


.navbar-custom .nav-link:hover,
.navbar-custom .nav-link.active,
.navbar-custom .nav-link:focus {
  color: #c0c1ff !important;
}

.custom-toggler.navbar-toggler {
  border-color: transparent;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(242, 242, 242, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.banner-head {
  font-family: ar one sans;
  font-size: 15px;
  color: #f4fefd;
}

.banner-para {
  font-family: Montserrat;
  font-size: 25px;
  color: #f4fefd;
}

.banner-img {
  height: 200px;
}

.cnct-button {
  font-family: ar one sans;
  font-weight: bolder;
  color: #0f0f0f;
  background-color: #c0c1ff;
  border-radius: 40px;
  border-width: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.main-head {
  font-family: ar one sans;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffa4d8;
}

.main-sub-head {
  font-family: work sans;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #faae90;
}

.about-para {
  font-family: Montserrat;
  font-size: 20px;
  text-align: justify;
  color: #f4fefd;
}

.main-para {
  font-family: Montserrat;
  font-size: 20px;
  margin-bottom: 5px;
  color: #f4fefd;
}

.main-side-para {
  font-family: Montserrat;
  font-size: 13px;
  color: #bbb2b2;
}
.footer-para {
  font-family: Montserrat;
  font-size: 15px;
  color: #e5e5e5;
}

.logo-img {
  height: 50px;
  margin-bottom: 10px;
}

.line {
  height: 3px;
  background-color: #f4fefd;
  border-radius: 10px;
}